builds/chrome/scripts/vk*
builds/firefox/scripts/vk*
builds/opera.extension/scripts/vk*
builds/vkopt.safariextension/scripts/vk*
builds/firefoxJetpack/resources/vkopt/data/scripts/vk*
builds/edge/scripts/vk*
builds/webext/scripts/vk*

builds/chrome/background.js
builds/chrome/content_script.js
builds/firefox/resources/vkopt/data/content_script.js
builds/firefox/resources/vkopt/lib/background.js
builds/firefoxJetpack/resources/vkopt/data/background.js
builds/firefoxJetpack/resources/vkopt/data/content_script.js
builds/maxthon/background.js
builds/maxthon/content_script.js
builds/opera.extension/background.js
builds/opera.extension/includes/content_script.js
builds/vkopt.safariextension/background.js
builds/vkopt.safariextension/content_script.js
builds/edge/background.js
builds/edge/content_script.js
builds/webext/background.js
builds/webext/content_script.js

builds/vkopt_chrome.zip
builds/vkopt_firefox_jetpack.xpi
builds/vkopt_firefox.xpi
builds/vkopt_firefox_webext.xpi
builds/vkopt_opera.oex
builds/vkopt_maxthon.mxaddon

local.diff
builds/*.txt
builds/*.crx
builds/*.zip
builds/*.xpi
builds/*.mxaddon
builds/*.oex
builds/*.safariextz
node_modules/
package-lock.json
