builds/chrome/scripts/*
builds/firefox/scripts/*
builds/opera.extension/scripts/*
builds/vkopt.safariextension/scripts/*
builds/firefoxJetpack/resources/vkopt/data/scripts/*

builds/vkopt_chrome.zip
builds/vkopt_firefox_jetpack.xpi
builds/vkopt_firefox.xpi
builds/vkopt_opera.oex
