<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" version="3.0.2.0" id="http://vkopt.net/">
	<name short="vkOpt">VkOpt</name>
	<description>Добавление множества функций, упрощающих жизнь ВКонтакте.ру. Official site and support: http://vkopt.net/</description>
	<author href="http://vk.com/id13391307">Раевский Михаил</author>
	<icon src="icons/icon88.png"/>
   <access origin="*"/>
   <update-description href="http://vkopt.net/upd/upd_opera.xml"/>
</widget>